/* tab menu */
ul.tab-nav-aplus {
	display: block;
	list-style-type: none;
	margin: 5px 0 0 0;
	padding: 2px 2px 0 2px;
	line-height: normal;
	overflow: auto;
	border-bottom: solid 1px #eaeaea;
}

.rst-content .section ul.tab-nav-aplus,
.rst-content .toctree-wrapper ul.tab-nav-aplus,
article ul.tab-nav-aplus {
	line-height: normal;
	margin: 0 0 10px;
}
.rst-content .section ul.tab-nav-aplus li,
.rst-content .toctree-wrapper ul.tab-nav-aplus li,
article ul.tab-nav-aplus li {
	margin-left: 0;
}

ul.tab-nav-aplus li {
	display: block;
	cursor: pointer;
	font-weight: bold;
	margin: 0 5px 0 0;
	padding: 12px 18px 10px;
	float: left;
	background-color: #ffffff;
	color: #676767;
	border-top: solid 1px #dfdfdf;
	border-right: solid 1px #dfdfdf;
	border-left: solid 1px #dfdfdf;
	border-radius: 6px 6px 0px 0px;
}
ul.tab-nav-aplus li.selected:focus-visible,
ul.tab-nav-aplus li.selected:focus-visible:hover {
	background-color: #ffdd00;
	color: #000;
	outline: 3px solid rgba(0, 0, 0, 0);
	text-decoration: underline;
}
ul.tab-nav-aplus li:hover {
	background-color: #dfdfdf;
	border-bottom: solid 3px #eaeaea;
}
ul.tab-nav-aplus li.selected {
	border-bottom: solid 3px #2980b9;
	background: #f0f0f0;
	color: #235298;
}
ul.tab-nav-aplus li.selected:hover {
	background-color: #dfdfdf;
	color: inherit;
}
.rst-tabs {
	margin: 0;
	padding: 0;
	border: none;
	margin-bottom: 10px;
	width: 100%;
}
.tab-content {
	clear: both;
	background-color: #fbfbfb;
	padding: 10px 10px 10px 10px;
	width: 100%;
	border: solid 2px #e0e0e0;
	margin-left: 0px;
}
.tab-content[style*="display:none"] {
	border-top: solid 2px #e0e0e0;
}
